body {
  font-family: "Plus Jakarta Sans", sans-serif !important ;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  display: flex !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400px;
}

.listing-link {
  text-decoration: none;
}

/*  card overlay */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit {
  text-decoration: none;
  background-color: #222222;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  color: white;
  padding: 6px 12px 6px 12px;
  height: 37.6px;
  font-weight: 50px;
}

/* show page */
.show-img {
  height: 30vh;
  width: 50vh;
}

.rate {
  margin-right: 422px;
}

.button {
  text-decoration: none;
}

/* map  */
#map {
    height: 400px;
    width: 150vh;
}
